---
layout: course
---

<div class="container">
  <div class="row">
    {% for offer in site.offerings %}
    <div class="col-md-{{12 | divided_by: site.offerings.size}}">
      <div class="card border-0 shadow mb-4">
        <div class="card-body">
          <h4 class="card-title">{{ offer.name }}</h4>
          <p class="card-text">{{ offer.time }}</p>
          <h5 class="card-subtitle mb-2 text-muted">Location</h5>
          <p class="card-text">{{ offer.loc }}</p>
          {% for inst in site.instructors %}
          {% if offer.instructor == inst.id %}
          <h5 class="card-subtitle mb-2 text-muted">Instructor</h5>
          <p class="card-text"><a href="{{ inst.web}}">{{ inst.name}}</a><br>
            {{ inst.email }}<br>
            {{ inst.phone }}<br>
            <a href="{{ inst.officehours }}">Office Hours</a>
          </p>
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{{ content }}

